{% extends "base.html" %}

{% block content %}
    <h1><center>Information</enter></h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p><center>
            {{ form.s3_bucket.label }}<br>
            {{ form.s3_bucket(size=32) }}
        </p>
        <p>
            {{ form.write_path.label }}<br>
            {{ form.write_path(size=32) }}
        </p>
        <p>
            {{ form.en_or_de.label }}<br>
            {{ form.en_or_de(size=32) }}
        </p>
        <p>
            {{ form.delimiter.label }}<br>
            {{ form.delimiter(size=32) }}
        </p>
        <p>
            {{ form.columns.label }}<br>
            {{ form.columns(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </center></form>
{% endblock %}
